<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add student</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>

<body>
	<div th:replace="fragments/header"></div>
	<div class="container">
		<br />
		<h2 class="page-header">Add Student</h2>


		<form action="/student/add/submit" method="get">
			<div class="form-group">
				<label for="npm">NPM</label> <input type="text" name="npm" />
			</div>
			<div class="form-group">
				<label for="name">Name</label> <input type="text" name="name" />
			</div>
			<div class="form-group">
				<label for="gpa">GPA</label> <input type="text" name="gpa" />
			</div>


			<div>
				<button type="submit" name="action" value="save">Save</button>
			</div>
		</form>
	</div>
</body>
<div th:replace="fragments/footer"></div>
</html>

